section.approach
    .container
        .title.title--with-bottom-line
            h2.title.title__header Our Approach
            .title__text Check Our approaches step by step (how we do it)

        ul.approach__list
            li.approach__item
                .approach__image
                    img.approach__picture(src="../img/step-1.jpg" alt="")
                    .approach__step step
                .approach__text
                    .approach__title Step 1 : Heading here
                    p.approach__description.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Praesentium consequuntur quidem dignissimos eveniet quia veritatis! 
                        Provident repellat facilis culpa et iste necessitatibus debitis hic, 
                        similique quibusdam reiciendis ea quae at!
            li.approach__item
                .approach__image
                    img.approach__picture(src="../img/step-2.jpg" alt="")
                    .approach__step step
                .approach__text
                    .approach__title Step 2 : Heading here
                    p.approach__description.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Praesentium consequuntur quidem dignissimos eveniet quia veritatis! 
                        Provident repellat facilis culpa et iste necessitatibus debitis hic, 
                        similique quibusdam reiciendis ea quae at!
            li.approach__item
                .approach__image
                    img.approach__picture(src="../img/step-3.jpg" alt="")
                    .approach__step step
                .approach__text
                    .approach__title Step 3 : Heading here
                    p.approach__description.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Praesentium consequuntur quidem dignissimos eveniet quia veritatis! 
                        Provident repellat facilis culpa et iste necessitatibus debitis hic, 
                        similique quibusdam reiciendis ea quae at!
            li.approach__item
                .approach__image
                    img.approach__picture(src="../img/step-4.jpg" alt="")
                    .approach__step step
                .approach__text
                    .approach__title Step 4 : Heading here
                    p.approach__description.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                        Praesentium consequuntur quidem dignissimos eveniet quia veritatis! 
                        Provident repellat facilis culpa et iste necessitatibus debitis hic, 
                        similique quibusdam reiciendis ea quae at!